/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
  * Remove text-shadow in selection highlight:
  * https://twitter.com/miketaylr/status/12228805301
  *
  * Vendor-prefixed and regular ::selection selectors cannot be combined:
  * https://stackoverflow.com/a/16982510/7133471
  *
  * Customize the background color to match your design.
  */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
  * A better looking default horizontal rule
  */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
  * Remove the gap between audio, canvas, iframes,
  * images, videos and the bottom of their containers:
  * https://github.com/h5bp/html5-boilerplate/issues/440
  */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
  * Remove default fieldset styles.
  */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
  * Allow only vertical resizing of textareas.
  */

textarea {
  resize: vertical;
}

/* ==========================================================================
    Browser Upgrade Prompt
    ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
    Author's custom styles
    ========================================================================== */
a,a:hover{text-decoration: none;}
.btn-primary{background: #3a7b1d;border-color: #3a7b1d;color: #fff;}
.btn-primary:hover {color: #fff;background-color: #2a5f13;border-color: #2a5f13;}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{    box-shadow: 0 0 0 0.2rem rgba(58,123,29,.5);}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{color: #fff;background-color: #2a5f13;border-color: #2a5f13;}

.btn-light{background: #fff;border-color: #ffff;color: #3a7b1d;}
.btn-light:hover {color: #fff;background-color: #3a7b1d;border-color: #3a7b1d;}
.btn-light.focus, .btn-light:focus{    color: #fff;
  background-color: #3a7b1d;
  border-color: #3a7b1d;
  box-shadow: 0 0 0 0.2rem rgba(58,123,29,.5);}
  .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{color: #fff;
    background-color: #3a7b1d;
    border-color: #3a7b1d;}
    .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus{box-shadow: 0 0 0 0.2rem rgba(58,123,29,.5);}

.btn-light.blue:hover {color: #fff;background-color: #0e56a5;border-color: #0e56a5;}
.btn-light.blue.focus, .btn-light.blue:focus{    color: #fff;
  background-color: #0e56a5;
  border-color: #0e56a5;
  box-shadow: 0 0 0 0.2rem rgba(58,123,29,.5);}
  .btn-light.blue:not(:disabled):not(.disabled).active, .btn-light.blue:not(:disabled):not(.disabled):active, .show>.btn-light.blue.dropdown-toggle{color: #fff;
    background-color: #0e56a5;
    border-color: #0e56a5;}
    .btn-light.blue:not(:disabled):not(.disabled).active:focus, .btn-light.blue:not(:disabled):not(.disabled):active:focus, .show>.btn-light.blue.dropdown-toggle:focus{box-shadow: 0 0 0 0.2rem rgba(14,86,165,.5);}

    .btn{border-radius: 0;font-size: 14px;font-family: "Averta-Bold";text-transform: uppercase;white-space: nowrap;padding-top: .698rem;padding-bottom: .698rem;padding-left: 1.5rem;padding-right: 1.5rem;}
.btn.btn-lg{font-size: 16px;padding: 1rem 2rem;}
.btn i{margin-right: 10px;}
.form-control{border-color: #ebebeb;border-radius: 2px;font-size: 14px;font-family: "Averta-Regular";height: calc(2em + .75rem + 2px);}

.btn-gray{background-color: #f7f9fb;border-color: #f7f9fb;color: #666666;}
.btn-gray:hover{background-color: #3a7b1d;border-color: #3a7b1d;color: #fff;}
.btn-gray:focus{    box-shadow: 0 0 0 0.2rem rgba(58,123,29,.5);background-color: #3a7b1d;border-color: #3a7b1d;color: #fff;}

.nicescroll-rails{opacity: 1 !important;}
.nicescroll-rails:after{content: '';height: 100%;background: #d8e1eb;width: 2px;border-radius:5px;position: absolute;;left: 50%;margin-left: -1px;top:0;z-index: 1;}
.nicescroll-rails .nicescroll-cursors{z-index: 2;}
@media (min-width: 1340px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1310px;
}
}

.contentSp h3{font-family: 'montserratbold';font-size: 48px;color: #141f2b;margin: 0 0 1.6rem 0;}
.contentSp p{font-family: "Averta-Regular";font-size: 16px;color: #141f2b;margin-bottom: 1.2rem;line-height: 30px;}
.contentSp h5{font-family: "Averta-Regular";font-size: 24px;color: #141f2b;margin:0 0 1.5rem 0;line-height: 36px;}
.contentSp h4{font-family: "Averta-Regular";font-size: 22px;color: #141f2b;margin:0 0 1.5rem 0;line-height: 36px;}
.contentSp h6{font-family: "Averta-Regular";font-size: 18px;color: #141f2b;margin:0 0 1.5rem 0;line-height: 36px;}


.topBarContainer{background: #3b8beb;padding: 9px 0;}
.topBarContainer .container{max-width: 1752px;}
.topBarSec{display: flex;align-items: center;}
.topBarleftInfoSec ul{display: flex;list-style-type: none;margin: 0;padding: 0;color: #fff;align-items: center;}
.topBarleftInfoSec ul li + li{margin-left: 10px;}
.topBarleftInfoSec ul li p{font-family: "Averta-Regular";font-size: 16px;display: flex;align-items: center;margin: 0 0 0 10px;}
.topBarleftInfoSec ul li p a{color: #fff;text-decoration: none;font-family: "Averta-Bold";font-size: 22px;display: flex;align-items: center;margin-left: 10px;}
.topBarleftInfoSec ul li p a i{display: flex;margin: 0 5px 0 0;}
.topBarRightInfoSec{margin-left: auto;display: flex;align-items: center;}
.topBarRightInfoSec ul{display: flex;list-style-type: none;margin: 0;padding: 0;color: #fff;align-items: center;}
.topBarRightInfoSec ul li{margin: 0 0 0 15px;position: relative;}
.topBarRightInfoSec ul li a i{background: #fff;border-radius: 100%;width: 32px;height: 32px;display: flex;align-items: center;justify-content: center;}
.topBarRightInfoSec ul li a span{background: #42861e;color: #fff;width: 15px;height: 15px;border-radius: 3px;font-size: 75%;display: flex;align-items: center;justify-content: center;position: absolute;bottom: calc(100% - 11px);left: calc(100% - 7px);}
.topSearchSec .form-control{border-radius: 0;min-width: 19rem;border-color: #fff;height: calc(1.25em + .75rem + 2px);}
.topSearchSec .btn{border-radius: 0;padding: .25rem 2rem;}
.topSearchSec .btn i{    vertical-align: text-bottom;}

.navBarHolder .container{max-width: 1752px;}
.navBarHolder .navbar{padding-left: 0;padding-right: 0;}
.navBarHolder .navbar .navbar-brand{padding-top: 0;padding-bottom: 0;}
.navBarHolder .navbar .navbar-nav{width: 100%;justify-content: space-between;margin-left: 6rem;}
.navBarHolder .navbar .navbar-nav .nav-link{font-size: 13px;color: #333333;font-family: 'montserratsemibold';}
.navBarHolder .navbar .navbar-nav .dropdown-toggle::after{width: 10px;height: 6px;background: url(../img/nav-dropdown-arrow.png) center center no-repeat;border: 0;}


.sliderSec {position: relative;margin-bottom: 70px;}
.sliderSec ul{list-style-type: none;margin: 0;padding: 0;}
.sliderSec ul li{position: relative;}
.sliderSec ul li:after{content: '';background: rgba(0,0,0,0.1);width: 100%;height: 100%;left: 0;top: 0;position: absolute;}
.sliderSec ul li > img{width: 100%;height: 730px;object-position: center;object-fit: cover;}
.sliderSec ul li .sliderCaption{position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);z-index: 1;color: #fff;text-align: center;max-width: 100%;}
.sliderSec ul li .sliderCaption h2{font-size: 74px;font-family: 'montserratsemibold';margin: 0;}
.sliderSec ul li .sliderCaption p{font-size: 40px;font-family: "Averta-Regular";margin: 0 0 2rem 0;}
.planFilterSec{position: absolute;top: 100%;left: 0;width: 100%;transform: translateY(-50%);}
.planFilterFieldSec{padding: 0 90px;position: relative;}
.planFilterFieldSec > i{position: absolute;left: 100%;top: 50%;transform: translateY(-50%);margin-left: -50px;}
.planFilterFieldSp{background: #fff;border-radius: 15px;box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);padding:25px 40px;display: flex;align-items: center;}
.planFilterFieldSp .planFilterFieldHolder{width: 100%;display: flex;}
.planFilterFormGroup{width: 100%;max-width: 125px;padding: 0 10px;}
.planFilterFormGroup label{font-size: 14px;font-family: "Averta W01 Semibold";}
.planFilterFormGroup .form-control{border-color: #ebebeb;}
.planFilterFormGroup.sqrFt{max-width: 100%;}
.planFilterFormGroup.sqrFt .d-flex span{padding: 0 10px;}
.planFilterFormGroup.sqrFt .d-flex .form-control{max-width: 95px;}
.planFilterFormGroup .form-control{border-radius: 0;}
.planFilterBtnSec .btn{min-width: 196px;;}


.planToFindHomeSec{padding: 100px 0;}
.planToFindHomeSec h6{color: #3b8beb;}
.planCalloutSec ul{display: flex;list-style-type: none;width: 100%;justify-content: space-evenly;margin: 60px 0  40px 0;padding: 0;}
.planCalloutSec ul li{max-width: 220px;}
.planCalloutSec ul li h3{font-size: 26px;margin-top: 1rem;}


.browseHousePlan{background: #3b8beb;color: #fff;padding: 80px 0 40px 0;position: relative;}
.browseHousePlanSec{display: flex;position: relative;z-index: 1;width: 50%;margin-left: auto;}
.browseHousePlan .browseContentSec{width: 100%;padding: 80px 15px 40px 15px;position: absolute;right: 0;top: 0;}
.browseHousePlan .browseContentSec .browseContentSecSp{width: 45%;padding: 0 15px;}
.browseHousePlan .browseContentSec h3{color: #fff;}
.browseHousePlan .browseContentSec h6{color: #fff;margin-bottom: 2rem;}
.browseHousePlan .browseContentSec h6 strong{font-family: "Averta-Bold";}
.browseHousePlan .browseContentSec h6 strong b{font-size: 22px;}
.browseHousePlanSec .browseSliderSec{width: 100%;padding: 0 15px;}
.browseHousePlanSec .browseSliderSec .productBox{margin: 0 5px;}


.productBox{background: #fff;padding: 5px;display: flex;flex-direction: column;color: #fff;border: 1px solid #eeeeee;}
.productBox .productBtnHolder{display: flex;margin-top: 5px;}
.productBox .productBtnHolder .btn-product{border: 1px solid #1f1f1f;    border-radius: 0;font-size: 14px;text-transform: uppercase;white-space: nowrap;padding-top: .698rem;padding-bottom: .698rem;padding-left: 15px;padding-right: 15px;font-family: "Averta W01 Semibold";color: #1f1f1f;width: 100%;display: block;text-align: center;}
.productBox .productBtnHolder > span{padding: 0 5px;flex: 1;}
.productBox .productBtnHolder > span:first-child{padding-left: 0;}
.productBox .productBtnHolder > span:last-child{padding-right: 0;}

.productBox .productBlock{position: relative;}
.productBox .productBlock .productTopIconHolder{position: absolute;left: 0;top: 0;display: flex;justify-content: space-between;width: 100%;padding: 5px;align-items: flex-start;z-index: 2;}
.productBox .productBlock .productTopIconHolder > a{background: #fff;padding: 8px 7px;display: flex;align-items: center;justify-content: center;}
.productBox .productBlock .productTopIconHolder .rightIconHolder {display: flex;}
.productBox .productBlock .productTopIconHolder .rightIconHolder a{background: rgba(255,255,255,0.3);padding: 5px 8px;display: flex;align-items: center;justify-content: center;margin-left: 5px;}
.productBox .productBlock .productBottomInfoSec{position: absolute;left: 0;bottom: 0;width: 100%;display: flex;flex-direction: column;align-items: flex-end;z-index: 2;}
.productBox .productBlock .productBottomInfoSec .productInfoSec{background: rgba(0,0,0,0.5);width: 100%;}
.productBox .productBlock .productImageSec{position: relative;z-index: 1;}
.productBox .productBlock .productImageSec:after{content: '';background: url('../img/product-shadow.png') top left repeat-x;width: 100%;height: 100%;left: 0;top: 0;position: absolute;}
.productBox .productBlock .productImageSec img{width: 100%;height: 395px;object-fit: cover;object-position: center;display: block;}
.productBox .productBlock .productBottomInfoSec .productInfoSec ul{display: flex;list-style-type: none;margin: 0;padding: 0;width: 100%;}
.productBox .productBlock .productBottomInfoSec .productInfoSec ul li{flex: 1;border-right: 1px solid rgba(255,255,255,0.2);padding:10px 15px;display: flex;flex-direction: column;align-items: center;font-size: 16px;font-family: "Averta W01 Semibold";}

.productBox .productBlock .productBottomInfoSec > span{padding: 5px 15px;background: #fff;font-size: 16px;color: #000;font-family: "Averta W01 Semibold";margin: 10px;}
.productBrowseSlider{overflow: hidden;position: relative;}
.productBrowseSlider:after{content: '';position: absolute;right: 0;top: 0;bottom: 0;width: 58px;background: url(../img/browse-right-shadow.png) top right repeat-y;}
.productBrowseSlider .slick-track{display: flex;}

.housePlanStyleSec{padding: 90px 0;}
.housePlanStyleSec .fetauredProductTab{display: flex;list-style-type: none;margin: 0;padding: 0;align-items: center;justify-content: center;margin: 40px 0 50px 0;}
.housePlanStyleSec .fetauredProductTab li{margin: 0 10px;}
.housePlanStyleSec .fetauredProductTab li a{padding: 8px 20px;font-family: "Averta W01 Semibold";font-size: 16px;text-align: center;display: block;width: 100%;background: #f7f9fb;color: #131f2b;;}
.housePlanStyleSec .fetauredProductTab li a.active{background: #3b8beb;color: #fff;position: relative;;}
.housePlanStyleSec .fetauredProductTab li a.active:after{content: '';width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #3b8beb;position: absolute;top: 100%;left: 50%;margin-left: -5px;}
.housePlanStyleSec .productHolder{display: flex;flex-wrap: wrap;}
.housePlanStyleSec .productHolder .productBox{margin: 15px;width: calc(50% - 30px);}
.housePlanStyleSec .btnHolder{margin-top: 20px;}


.findHomeSec{position: relative;padding: 90px 0;}
.findHomeSec .btnHolder{margin-top: 40px;}
.findHomeSec .findHomeBanner{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.findHomeSec .findHomeBanner:after{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.8);content: '';}
.findHomeSec .findHomeBanner img{object-fit: cover;object-position: center;width: 100%;height: 100%;}
.findHomeContentHolder{position: relative;z-index: 1;color: #fff;}
.findHomeContentHolder h3,.findHomeContentHolder h4,.findHomeContentHolder p{color: #fff;}
.findHomeContentHolder h4{margin-bottom: 35px;}

.makeUniqueSec{padding: 90px 0;}
.makeUniqueSec .uniquePlanBlockSec{display: flex;}
.makeUniqueSec .uniquePlanBlockHolder{padding: 15px;}
.makeUniqueSec .uniquePlanBlockHolder h5{font-size: 25px;font-family: "Averta W01 Semibold";margin: 0;}
.makeUniqueSec .uniquePlanBlockHolder .uniquePlanBlockSp{display: flex;flex-direction: column;height: calc(100% - 86px);border: 1px solid #f7f9fb;}
.makeUniqueSec .uniquePlanBlockHolder .planProductAvatarHolder{width: 100%;position: relative;}
.makeUniqueSec .uniquePlanBlockHolder .planProductAvatarHolder img{width: 100%;height: 438px;object-fit: cover;object-position: center;}
.makeUniqueSec .uniquePlanBlockHolder .planProductAvatarHolder span{position: absolute;bottom: 0;right: 0;padding: 5px 15px;background: #fff;font-size: 16px;color: #000;font-family: "Averta W01 Semibold";margin: 10px;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec{padding: 15px;text-align: left;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec p{color: #1f2d3d;margin-bottom: 15px;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec .btnHolder{margin-top: 20px;margin-bottom: 15px;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec h4{color: #3b8beb;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec .planViewListing{display: flex;align-items: flex-start;justify-content: space-between;list-style-type: none;margin: 0 0 30px 0;padding: 0;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec .planViewListing li{display: flex;flex-direction: column;padding: 0 15px;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec .planViewListing li i{width: 100%;display: block;height: 55px;display: flex;align-items: flex-start;justify-content: center;}
.makeUniqueSec .uniquePlanBlockHolder .planProductContentSec .planViewListing li span{font-size: 20px;font-family: "Averta W01 Semibold";color: #131e26;}
.makeUniqueSec .uniquePlanBlockHolder .uniquePlanBlockSp:hover{box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.07);}
.makeUniqueSec .uniquePlanBlockHolder .uniquePlanBlockSp:hover .btn-gray{background-color: #3a7b1d;border-color: #3a7b1d;color: #fff;}


.testimonialSec{padding: 90px 0;}
.testimonialSec .testimonialSlideSec{margin-top: 60px;}
.testimonialSec .testimonialSlideSec ul{list-style-type: none;margin: 0;padding: 0;}
.testimonialSec .testimonialSlideSec ul{list-style-type: none;margin: 0;padding: 0;}
.testimonialSec .testimonialSlideSec .slick-track{display: flex;}
.testimonialSec .testimonialSlideSec .slick-slider{position: relative;overflow: hidden;padding: 0 20px;}
.testimonialSec .testimonialSlideSec .slick-list{overflow: hidden;}
.testimonialSec .testimonialSlideSec .slick-arrow{position: absolute;top: 50%;text-indent: -999em;z-index: 2;;width: 13px;height: 24px;background: url('../img/testimonial-arrow.png') center center no-repeat;border: 0;margin-top: -12px;outline: 0;}
.testimonialSec .testimonialSlideSec .slick-arrow.slick-next{right: 0;}
.testimonialSec .testimonialSlideSec .slick-arrow.slick-prev{left: 0;transform: rotate(-180deg);}
.testimonialSec .testimonialSlideSec .testimonialBlock{padding: 0 100px;display: flex;text-align: left;}
.testimonialSec .testimonialSlideSec .testimonialBlock > i{padding: 0 15px;}
.testimonialSec .testimonialSlideSec .testimonialBlock > i img{width: 124px;height: 124px;object-fit: cover;object-position: center;}
.testimonialSec .testimonialSlideSec .testimonialBlock .testimonialContent{padding: 0 15px;}
.testimonialSec .testimonialSlideSec .testimonialBlock .testimonialContent p{font-size: 24px;color: #141f2b;line-height: 40px;margin-bottom: 40px;}
.testimonialSec .testimonialSlideSec .testimonialBlock .testimonialContent b{color: #3b8beb;font-family: "Averta W01 Semibold";font-size: 18px;}
.testimonialSec .btnHolder{margin-top: 40px;}


.qucikAdviceSec{background: #f7f9fb;padding: 90px 0;}
.qucikAdviceSec h5 a{color: #3a8beb;font-family: "Averta W01 Semibold";}
.qucikAdviceSec .adviceBlockHolder{display: flex;flex-wrap: wrap;margin-top: 20px;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock{width: 50%;padding: 0 15px;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceBlockSp{border: 1px solid #e0e7ed;display: flex;flex-direction: column;height: 100%;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceBlockSp:hover{background: #fff;box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.07);;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceBlockSp .adviceImgSec{width: 100%;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceBlockSp .adviceImgSec img{width: 100%;height: 438px;object-fit: cover;object-position: center;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceContentSec{padding:30px 20px;text-align: left;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceContentSec h5{font-size: 26px;font-family: "Averta W01 Semibold";margin-bottom: 10px;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceContentSec > b{font-family: "Averta-Regular";font-weight: normal;font-size: 16px;display: block;margin-bottom: 1.5rem;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceContentSec > b span{color: #3a8beb;}
.qucikAdviceSec .adviceBlockHolder .adviceBlock .adviceContentSec .link{font-size: 14px;font-family: "Averta W01 Semibold";color: #3a8beb;text-transform: uppercase;}
.qucikAdviceSec .btnHolder{margin-top: 60px;}

.housePlanProductContainer{padding: 90px 0;}
.housePlanProductContainer .housePlanProductSec{display: flex;flex-wrap: wrap;}
.housePlanProductContainer .housePlanProductSec .productFilterRefineHolder{width: 28.7%;padding-right: 25px;}
.housePlanProductContainer .housePlanProductSec .housePlanProductHolder{width: 71.3%;padding-left: 25px;}
.housePlanFilterTabSec{display: flex;justify-content: space-between;width: 100%;margin-bottom: 70px;}
.housePlanFilterTabSec .housePlanCountSec{display: flex;align-items: center;}
.housePlanFilterTabSec .housePlanCountSec p{font-size: 16px;color: #1f2d3d;margin: 0 15px 0 0;}
.housePlanFilterTabSec .housePlanCountSec p span{font-family: "Averta W01 Semibold";font-size: 22px;}
.housePlanFilterTabSec .housePlanSearchSec {margin-left: 15px;max-width: 205px;}
.housePlanFilterTabSec .housePlanSearchSec .form-control{height: calc(2.572em + .75rem + 2px);}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder{display: flex;align-items: center;}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanProductStyleFilter{display: flex;align-items: center;}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanProductStyleFilter > a{margin: 0 5px;display: flex;align-items: center;}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanCatTabHolder{margin-left: 15px;}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanCatTabHolder ul{display: flex;align-items: center;list-style-type: none;margin: 0;padding: 0;}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanCatTabHolder ul li{margin-left: -1px;}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanCatTabHolder ul li a{border-radius: 0;font-size: 14px;font-family: "Averta-Bold";white-space: nowrap;padding-top: .844rem;padding-bottom: .844rem;padding-left: 1rem;padding-right: 1rem;display: flex;color: #888888;border: 1px solid #f0f0f0;    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;min-width: 160px;justify-content: center;}
.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanCatTabHolder ul li a.active,.housePlanFilterTabSec .housePlanProductStyleFilterHolder .housePlanCatTabHolder ul li a:hover{background: #2f83e8;color: #fff;border-color: #2f83e8;;}
.housePlanProductHolder .row{margin-left: -5px;margin-right: -5px;}
.housePlanProductHolder .productHolder{display: flex;flex-wrap: wrap;}
.housePlanProductHolder .productBox{margin: 10px 5px;width: calc(50% - 10px);}
.housePlanProductHolder .productBox .productBlock .productImageSec img{height: 340px;}
.housePlanProductHolder .productBox .productBtnHolder .btn-product{font-size: 12px;padding:.5rem 5px;}
.productFilterRefineHolder > p{font-family: "Averta-Regular";font-size: 16px;color: #141f2b;margin-bottom: 1.2rem;line-height: 30px;}
.productFilterRefineHolder .productFilterRefineSec {display: flex;flex-direction: column;}
.productFilterRefineHolder .productFilterRefineSec .filterCard{margin-bottom: 1rem;margin-top: 1rem;width: 100%;}
.productFilterRefineSec .card{background: #f7f9fb;border: 0;border-radius: 0;}
.productFilterRefineSec .card .card-header{background: transparent;border-bottom-color: #e9eef3;font-family: 'montserratsemibold';font-size: 20px;color: #1f2c3d;display: flex;align-items: center;padding-top: 1.1rem;padding-bottom: 1.1rem;}
.productFilterRefineSec .card .card-header h4{margin: 0;font-family: 'montserratsemibold';font-size: 20px;color: #1f2c3d;}
.productFilterRefineSec .card .card-header a{margin-left: auto;}
.productFilterRefineSec .card .card-header a.link{color: #2f83e8;font-size: 14px;}
.productFilterRefineSec .accordion .card{border: 1px solid #e9eef3;}
.productFilterRefineSec .accordion .card + .card{border-top: 0;}
.productFilterRefineSec .accordion .card .card-header {padding: 0;}
.productFilterRefineSec .accordion .card .card-header h2{width: 100%;}
.productFilterRefineSec .accordion .card .card-header h2 button{padding-top: 1.1rem;padding-bottom: 1.1rem;width: 100%;text-align: left;font-family: 'montserratsemibold';font-size: 20px;color: #1f2c3d;line-height: 1.2;border: 0;text-decoration: none;text-transform: capitalize;position: relative;}
.productFilterRefineSec .accordion .card .card-header h2 button:after{content: '';width: 14px;height: 8px;background: url(../img/accordion-arrow.png);position: absolute;right: 15px;top: 50%;margin-top: -4px;transform: rotate(180deg);}
.productFilterRefineSec .accordion .card .card-header h2 button.collapsed:after{transform: rotate(0deg);}
.filterRefineForm label{font-family: 'Averta W01 Semibold';font-size: 16px;color: #1f2c3d;}
.filterRefineForm .filterFormRow{margin-left: -5px;margin-right: -5px;display: flex;flex-wrap: wrap;}
.filterRefineForm .filterFormRow .filterFieldSec{padding: 0 5px;flex: 0 0 50%;max-width: 50%;}
.productFilterRefineSec .filterCheckList ul{display: flex;margin: 0;padding: 0;list-style-type: none;flex-direction: column;max-height: 295px;padding-right: 15px;}
.productFilterRefineSec .filterCheckList ul li{display: flex;margin: 0;padding: 0;list-style-type: none;width: 100%;}
.productFilterRefineSec .filterCheckList ul li + li{margin-top: 13px;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox{position: relative;width:100%;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox input{position: absolute;opacity: 0;width:0;height:0;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox label{font-size: 16px;font-family: "Averta W01 Semibold";color:#1f2c3d;display: flex;align-items: flex-start;margin: 0;width: 100%;line-height: 22px;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox label i{width: 22px;height: 22px;background: #fff;border:1px solid #e6ecf2;position: relative;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox label i:after{width: 12px;height: 12px;background: #fff;position: absolute;top: 4px;left: 4px;content:'';}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox input:checked + label i{border-color: #3a7b1d;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox input:checked + label i:after{background: #3a7b1d;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox label b{margin-left: auto;background: #e3eaf0;border-radius: 20px;font-size: 14px;font-family: "Averta W01 Semibold";color: #1f2d3d;padding: 1px 12px;}
.productFilterRefineSec .filterCheckList ul li .filterCheckBox label span{padding-left: 15px;padding-right: 15px;}

.customDreamContainer{position: relative;margin-bottom: 66px;}
.customDreamContainer .customDreamBgHolder{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.customDreamContainer .customDreamBgHolder:after{position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: '';background: rgba(0,0,0,0.8);}
.customDreamContainer .customDreamBgHolder img{width: 100%;height: 100%;object-fit: cover;object-position: center;}
.customDreamContainer .customDreamHolder{position: relative;z-index: 1;color: #fff;padding: 90px 0;}
.customDreamContainer .customDreamHolder .customDreamSec > h2{color: #fff;}
.customDreamContainer .customDreamHolder .customDreamSec > h4{color: #fff;}
.customDreamContainer .customDreamHolder .customDreamSec > h3{color: #fff;}
.customDreamContainer .customDreamHolder .customDreamSec > h6{color: #fff;}
.customDreamContainer .customDreamHolder .customDreamSec > p{color: #fff;}
.customDreamContainer .customDreamContentHolder{display: flex;text-align: left;margin-left: -40px;margin-right: -40px;padding-top: 40px;padding-bottom: 40px;}
.customDreamContainer .customDreamContentHolder .customDreamLeftSec{padding: 0 40px;width: 50%;position: relative;padding-right: 60px;}
.customDreamContainer .customDreamContentHolder .customDreamLeftSec h6{color: #fff;margin: 0;}
.customDreamContainer .customDreamContentHolder .customDreamLeftSec h4{color: #51ad29;font-family: "Averta W01 Semibold";margin: 0;font-style: italic;}
.customDreamContainer .customDreamContentHolder .customDreamLeftSec::before{content: '';position: absolute;right: 20px;top: 0;bottom: 0;background: url('../img/custom-dream-sep.png') center center no-repeat;width: 14px;}
.customDreamContainer .customDreamContentHolder .customDreamRightSec{padding: 0 40px;width: 50%;position: relative;}
.customDreamContainer .customDreamContentHolder .customDreamRightSec h6{color: #fff;margin: 10px 0;}
.customDreamContainer .costEffectiveContainer{position: absolute;top: 100%;transform: translateY(-50%);left: 0;width: 100%;}
.customDreamContainer .costEffectiveContainer .costEffectiveSec{background: #3a7b1d;padding: 35px 100px;display: flex;text-align: left;align-items: center;}
.customDreamContainer .costEffectiveContainer .costEffectiveSec h2{color: #fff;margin: 0;font-size: 26px;font-family: "Averta W01 Semibold";padding-right: 50px;}

.designerEnvisionContainer {padding: 90px 0;}
.designerEnvisionContainer .designerEnvisionSec h4{color: #398beb;font-family: "Averta W01 Semibold";}
.designerEnvisionContainer .designerEnvisionSec .designerEnvisionCallout{display: flex;flex-direction: column;margin: 40px 0;}
.designerEnvisionContainer .designerEnvisionSec .designerEnvisionCallout i{height: 65px;display: flex;align-items: center;justify-content: center;margin-bottom: 25px;}
.designerEnvisionContainer .designerEnvisionSec .designerEnvisionCallout h3{font-size: 20px;font-family: "Averta W01 Semibold";}
.designerEnvisionContainer .designerEnvisionSec h6{margin-bottom: 1rem;}

.homeFloorPlanContainer{padding: 90px 0;background: #f7f9fb url(../img/floor-plan-bg.jpg) center right no-repeat;}
.homeFloorPlanContainer .homeFloorPlanSec .floorPlanPoints{display: flex;flex-wrap: wrap;justify-content: space-between;margin: 0;padding: 0;list-style-type: none;}
.homeFloorPlanContainer .homeFloorPlanSec .floorPlanPoints li{max-width: 558px;display: flex;margin: 38px 0;}
.homeFloorPlanContainer .homeFloorPlanSec .floorPlanPoints li i{background: #fff;width: 110px;height: 110px;display: flex;align-items: center;justify-content: center;margin-right: 30px;}
.homeFloorPlanContainer .homeFloorPlanSec .floorPlanPoints li .floorPlanContent{width: calc(100% - 140px);}
.homeFloorPlanContainer .homeFloorPlanSec .floorPlanPoints li .floorPlanContent h6{font-size: 20px;font-family: "Averta W01 Semibold";margin-bottom: 10px;line-height: 20px;}
.homeFloorPlanContainer .homeFloorPlanSec .floorPlanPoints li .floorPlanContent p{margin-bottom: 0;line-height: 28px;}


.onlineHouseBenefitsContainer{padding: 90px 0;}
.onlineHouseBenefitsContainer .onlineHouseBenefitsSec h4{color: #398beb;font-size: 22px;font-family: "Averta W01 Semibold";;}
.onlineHouseBenefitsContainer .onlineHouseBenefitsListHolder{margin: 0;padding: 0;list-style-type: none;display: flex;flex-direction: column;}
.onlineHouseBenefitsContainer .onlineHouseBenefitsListHolder li{margin: 0;padding: 0;text-align: left;border-bottom: 1px solid #eaeaea;padding: 30px 0  15px 0;}
.onlineHouseBenefitsContainer .onlineHouseBenefitsListHolder li:last-child{border-bottom: 0;padding-bottom: 0;}
.onlineHouseBenefitsContainer .onlineHouseBenefitsListHolder li .onlineHouseBenefitsList{margin: 0;padding: 0;display: flex;}
.onlineHouseBenefitsContainer .onlineHouseBenefitsListHolder li .onlineHouseBenefitsList i{background: #fff;width: 110px;height: 110px;display: flex;align-items: center;justify-content: center;margin-right: 30px;}
.onlineHouseBenefitsContainer .onlineHouseBenefitsListHolder li .onlineHouseBenefitsList .onlineHouseBenefitsContent{width: calc(100% - 140px);}
.onlineHouseBenefitsContainer .onlineHouseBenefitsListHolder li .onlineHouseBenefitsList .onlineHouseBenefitsContent h6{font-style: italic;font-size: 20px;font-family: "Averta W01 Semibold";;}


.purchaseOnlinePlanContainer{padding: 90px 0;background: #3b8beb;}
.purchaseOnlinePlanContainer .purchaseOnlinePlanSec *{color: #fff;}
.purchaseOnlinePlanContainer .purchaseOnlinePlanHolder h4{font-family: "Averta W01 Semibold";}
.purchaseOnlinePlanContainer .purchaseOnlinePlanHolder ul{display: flex;flex-wrap: wrap;list-style-type: none;margin: 0;padding: 0;text-align: left;}
.purchaseOnlinePlanContainer .purchaseOnlinePlanHolder ul li{width: 33.3333%;padding: 0 0 0 30px;position: relative;font-family: "Averta W01 Semibold";font-size: 20px;margin: 5px 0;}
.purchaseOnlinePlanContainer .purchaseOnlinePlanHolder ul li::before{content: '';width: 8px;height: 8px;border-radius: 100%;display: block;position: absolute;left: 0;top: 12px;background: rgba(255,255,255,0.4);}

/* costBuiltCalcSec start */

.costBuiltCalcSec{background: #3b8beb;padding: 5rem 0;}
.costBuiltCalcSec .contentSp h3{color: #fff}
.costBuiltCalcSec .contentSp p{color: #fff}
.costBuiltCalcSec .contentSp h5 span{padding: 0 3px;background: #fff;color: #3b8beb;}
.costBuiltCalcSec .contentSp h5{color: #fff}
.costCalcList{list-style: none;padding: 0;margin: 60px 0;display: flex;flex-wrap: wrap;justify-content: center;/* align-items: center; */}
.costCalcList li{width: calc(100% / 6);padding: 20px 15px;color: #fff;font-size: 18px;font-family: "Averta W01 Semibold";height: inherit;display: flex;flex-direction: column;justify-content: center;}
.costCalcList li img{display: block;margin: 0 auto 10px;}
.costCalcList li span{width: min-content;margin: 0 auto;line-height: 20px;}
.costCalcList li:nth-child(-n + 6){border-bottom: 1px solid #61a2ef;}
.costCalcList li{border-right: 1px solid #61a2ef;}
.costCalcList li:last-child, .costCalcList li:nth-child(6n){border-right: 0;}


/* costBuiltCalcSec end */


/* footer start */

footer{padding: 0;}
footer p{font-size: 14px;color: #23303a;margin: 0;}
.footerBlockHolder{display: flex;justify-content: space-between;margin: 0 -15px;align-items: flex-start;flex-wrap: wrap;padding: 5rem 0;border-bottom: 1px solid #dfdfdf;}
.footerBlockHolder > *{padding: 0 15px;}
.footerBlockHolder h6{font-size: 13px;font-family: 'montserratbold';}
.footerSearchBlock{flex: 0 0 380px;}
.footerSearchBlock .input-group{margin-top: 30px;}
.footerSearchBlock .input-group .form-control{height: calc(2.5em + .75rem + 2px);}
.footerSearchBlock .input-group .btn{padding-top: 0.75rem;padding-bottom: .75rem;}
.cardImgSec{margin: 20px -5px;display: flex;align-items: center;flex-wrap: wrap}
.cardImgSec span{max-width: 33.33%;padding: 0 5px}
.adviceSection a{font-size: 22px;color: #3b8beb;display: flex;align-items: center;font-family: "Averta-Bold";margin-top: 15px;}
.adviceSection a i{margin-right: 10px;display: flex;}
.footerSearchBlock .topSearchSec .form-control{min-width: auto;}
.footerNavBlock{display: flex;flex-wrap: wrap;max-width: 390px;flex-direction: column;}
.footerNavBlock h6{flex: 0 0 100%;max-width: 100%;}
.footerNavBlock ul{flex: 0 0 100%;max-width: 100%;list-style: none;padding: 0;margin: 0;}
.footerNavBlock ul li{padding-top: 8px;padding-bottom: 8px;}
.footerNavBlock ul li a{text-decoration: none;color: #23303a;font-size: 15px;font-family: "Averta-Regular";}
.footerNavBlock ul.double-inner{display: flex;flex-wrap: wrap;margin: 0 -10px;}
.footerNavBlock ul.double-inner li{width: 50%;padding-left: 10px;padding-right: 10px;}

.footerBottomSec{display: flex;flex-wrap: wrap;justify-content: space-between;margin: 0 -15px;padding: 30px 0;}
.footerBottomSec p a{color: #23303a;text-decoration: none}
.footerBottomSec> * {padding: 0 15px}
.footerBottomSec ul{list-style: none;margin: 0;display: flex;align-items: center;padding-right: 0;}
.footerBottomSec ul li{padding: 0 30px;}
.footerBottomSec ul li:last-child{padding-right: 15px}

/* footer end */

/* banner start */
.pg{padding: 50px 0}
.banner{position: relative;min-height: 500px;display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 30px;}
.banner .banner-img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 0;}
.banner .banner-img img{width: 100%;height: 100%;object-fit: cover;}
.banner .banner-text{padding: 3rem 0;width: 100%;text-align: center;position: relative;z-index: 1;}
.banner .banner-text .desc{text-align: center;}
.banner .banner-text .desc h2{font-size: 50px;margin: 0;color: #fff;font-family: 'montserratbold';}
.banner.bannerBlank{height: 330px;background: #f7f9fb;min-height: auto;}
/* banner end */

/* terms start */

.terms{color: #444;font-family: 'Averta-Regular';}
.terms h4{font-family: "Averta-Bold";font-size: 22px;margin: 15px 0 5px;}
.terms p{font-size: 18px;margin: 0 0 10px;}
.terms p + h4{margin-top: 35px;}
.terms ol{list-style-type: none;counter-reset: li;padding: 0;margin: 0 0 10px;}
.terms ol li{position: relative;font-family: "Averta-Bold";padding: 10px 0;font-size: 22px;}
.terms ol li:before{counter-increment: li;content: counter(li, decimal-leading-zero);margin-right: 1.25em;}
/* terms end*/


/* testimonialList start */

.testimonialList{list-style: none;padding: 0;margin: 0;display: inline-block;width: 100%;}
.testimonialList li{max-width: 45%;padding: 30px 0 130px;float: left;}
.testimonialList li:nth-child(even){float: right}
.testimonialList li:nth-last-child(-n + 2){padding-bottom: 50px;}
.testimonialList li .testimonial{padding-bottom: 35px;padding-left: 30px;position: relative;background: #f3f3f3;}
.testimonialList li .testimonial:after{content: '';position: absolute;left: 30px;top: -25px;bottom: 0;height: calc(100% - 30px + 30px);width: 2px;background: #e9eef3;margin: auto;z-index: 0;}
.testimonialList li .testimonial .quoteSign{width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;position: absolute;left: 10px;z-index: 1;top: -30px;border-radius: 100%;background: #fff;box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.2);}
.testimonialList li .testimonial .desc{padding: 50px 30px 50px 20px;}
.testimonialList li .testimonial p{font-family: "Averta W01 Semibold";font-size: 17px;color: #444;opacity: 0.9;margin: 0;}
.testimonialList li .testimonial .author{display: flex;align-items: center;position: absolute;top: calc(100% - 30px);left: 25px;right: 0;}
.testimonialList li .testimonial .author .a-img{width: 90px;height: 90px;border-radius: 100%;overflow: hidden;margin-right: 15px;}
.testimonialList li .testimonial .author .a-img img{width: 100%;height: 100%;object-fit: cover;}
.testimonialList li .testimonial .author p{font-size: 20px;margin: 0;color: #0a54a5;}

/* testimonialList end */

/* blogSection start */
.blogSection{display: flex;flex-direction: column;width: 50%;padding: 0 15px;}
.blogSection .blog{padding: 10px;width: 100%;border: 1px solid #f8fafb;border-radius: 10px;margin-bottom: 45px;}
.blogSection .blog .blogSp{padding: 10px;width: 100%;border-radius: 10px;background: #f7f9fb;}
.blogSection .blogImg{width: 100%;margin-bottom: 15px;}
.blogSection .blogImg img{width: 100%;}
.blogSection .blogDesc{padding-right: 15px;font-family: "Averta-Bold";}
.blogSection .blogDesc h5{font-size: 22px;color: #444;}
.blogSection .blogDesc a{text-decoration: none;color: #003f97;font-size: 16px;}

.blogDetailContentSec h2{font-size: 26px;color: #333333;margin-top: 2rem;font-family: "Averta-Bold";display: flex;align-items: center;}
.blogDetailContentSec p{font-size: 18px;color: #444444;margin: 10px 0;}
.blogDetailContentSec p span{color: #003f97;font-family: "Averta W01 Semibold";}
.blogDetailContentSec img{max-width: 100%;margin: 10px 0;float: left;margin-right: 30px;}
.blogDetailContentSec img.w-100{margin-right: 0;}
.blogDetailContentSec ul{margin: 0;padding: 0;list-style-type: none;counter-reset: my-sec-counter;}
.blogDetailContentSec ul li{font-size: 22px;font-family: "Averta W01 Semibold";color: #444444;margin: 22px 0;display: flex;align-items: center;}
.blogDetailContentSec ul li:before{
  padding-right: 10px;
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter) ". ";}
.detailContentList:after {
  display: block;
  clear: both;
  content: "";
}
.detailContentListholder{counter-reset: my-sec-counter;}
.detailContentList h2:before {
  padding-right: 10px;
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter) ". ";
}

.sidebar{width: 100%;font-family: "Averta W01 Semibold";background: #f7f9fb;}
.sidebar .sidebar-title{background: #1f2c3d;padding: 10px 85px 10px 30px;position: relative;margin-bottom: 13px;}
.sidebar .sidebar-title .mhpLogo{width: 70px;height: 70px;position: absolute;right: 15px;top: 50%;transform: translateY(-50%);}
.sidebar .sidebar-title .mhpLogo img{width: 100%;}
.sidebar .sidebar-title h2{color: #fff;margin: 0;font-size: 20px;}
.sidebar .sidebar-body ul{list-style: none;padding: 0;margin: 0;}
.sidebar .sidebar-body ul li{border-bottom: 1px solid #e9eef3;}
.sidebar .sidebar-body ul li:last-child{border-bottom: 0;}
.sidebar .sidebar-body ul li a{padding: 14px 20px;text-decoration: none;display: flex;align-items: center;color: #424251;font-size: 14px;}
.sidebar .sidebar-body ul li a .fa{margin-right: 15px;color: #9797a6;}
.sidebar + .sidebar{margin-top: 50px;}

.blogContentHolder{display: flex;margin-left: -15px;margin-right: -15px;flex-wrap: wrap;}
.blogContentSec{width: 71%;padding: 0 30px 0 15px;}
.blogInfoListSec{width: 29%;padding: 0 15px;}

/* blogSection end */


/* ==========================================================================
    Helper classes
    ========================================================================== */

/*
  * Hide visually and from screen readers
  */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
    ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
    ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
      * Don't show links that are fragment identifiers,
      * or use the `javascript:` pseudo protocol
      */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
      * Printing Tables:
      * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
      */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

