@font-face {
  font-family: 'avertabold';
  src: url('averta-bold-webfont.woff2') format('woff2'),
       url('averta-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avertaregular';
  src: url('averta-regular-webfont.woff2') format('woff2'),
       url('averta-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avertasemibold';
  src: url('averta-semibold-webfont.woff2') format('woff2'),
       url('averta-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'montserratbold';
  src: url('montserrat-bold-webfont.woff2') format('woff2'),
       url('montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'montserratsemibold';
  src: url('montserrat-semibold-webfont.woff2') format('woff2'),
       url('montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
